.main {
    width: 100%;
    max-height: 100vh;
    font-family: DM Sans;
    overflow: auto;

    .header {
        width: 100%;
        height: 15%;
        background-color: rgba(237, 83, 83, 1);
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 50px;
        display: flex;
        position: fixed;

        .title {
            color: rgba(255, 255, 255, 1);
            font-size: 1.3rem;
            font-weight: 700;
            margin-top: 2%;
            margin-left: 3%;
        }

        .buttonContainer {
            width: 20%;
            height: 40%;
            margin-left: 60%;
            margin-top: 2%;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: space-between;

            .logoutBtn {
                color: white;
                background-color: transparent;
                font-size: 1.1rem;
                font-weight: 500;
            }

            .welcomeText {
                color: white;
                font-size: 1.1rem;
                font-weight: 500;
            }

            .buttons {
                width: 40%;
                height: 90%;
                color: rgba(255, 255, 255, 1);
                margin-left: 2%;
                background-color: transparent;
                border: 1px solid rgba(255, 255, 255, 1);
                border-radius: 5px;
                font-size: 1.1rem;
                font-weight: 500;
            }

            .buttons:hover {
                color: rgba(237, 83, 83, 1);
                background-color: rgba(255, 255, 255, 1);
            }
        }
    }

    .fltersContainer {
        margin-top: 5rem;
        width: 100%;
        height: 30vh;
        // background-color: aqua;
        display: flex;
        justify-content: center;
        align-items: center;

        .filters {
            width: 80%;
            height: 80%;
            // background-color: beige;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            box-shadow: 0px 0px 22px 4px rgba(255, 32, 32, 0.25);

            .searchBar {
                width: 80%;
                height: 30%;
                padding-left: 4%;
                font-size: 1rem;
                font-weight: 500;
                border: 2px solid rgba(227, 227, 227, 1);
                border-radius: 10px;
            }

            .searchIcon {
                width: 20px;
                position: absolute;
                top: 21%;
                left: 19%;
            }

            .searchIcon:hover {
                cursor: pointer;
            }

            .skillsContainer {
                width: 80%;
                height: 40%;
                display: flex;
                gap: 2%;
                // background-color: aquamarine;

                .skills {
                    width: 20%;
                    height: 80%;
                    color: rgba(156, 156, 156, 1);
                    font-family: Roboto;
                    font-size: 1rem;
                    font-weight: 500;
                    padding-left: 15px;
                    border: 2px solid rgba(206, 206, 206, 1);
                    border-radius: 10px;
                }

                .selectedSkillsContainer {
                    width: 50%;
                    height: 80%;
                    // background-color: rgb(155, 127, 255);
                    display: flex;
                    justify-content: center;
                    align-items: center;


                    .selectedSkill {
                        width: 25%;
                        height: 80%;
                        background-color: rgb(240, 232, 232);
                        display: flex;
                        justify-content: space-around;
                        border-radius: 5px;

                        .skillName {
                            width: 70%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: 600;
                            font-size: 0.8rem;
                        }

                        .crossSymbol {
                            width: 30%;
                            height: 100%;
                            background-color: rgba(255, 107, 107, 1);
                            color: rgba(255, 255, 255, 1);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: 800;
                            font-size: 1.2rem;
                        }
                    }
                }

                .addJobBtn {
                    width: 15%;
                    height: 80%;
                    border-radius: 10px;
                    color: white;
                    font-family: Roboto;
                    font-size: 1rem;
                    font-weight: 500;
                    background-color: rgba(237, 83, 83, 1);
                }

                .clearSkills {
                    color: rgba(237, 83, 83, 1);
                    font-size: 1rem;
                    font-weight: 500;
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 2%;
                }

                .clearSkills:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .jobsContainer {
        width: 80%;
        // background-color: aqua;
        margin-left: 10%;
        margin-top: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 2%;

        .jobCard {
            width: 95%;
            // background-color: rgb(54, 201, 103);
            box-shadow: 0px 0px 22px 4px rgba(255, 32, 32, 0.25);
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 1.5%;
            margin-bottom: 1%;

            .companyLogo {
                width: 5%;
                height: 5%;
            }

            .basicDetails {
                width: 50%;
                background-color: white;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .jobPosition {
                    font-size: 1rem;
                }

                .salaryAndLocation {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 3%;

                    .info {
                        font-family: Roboto;
                        font-weight: 500;
                        font-size: 0.8rem;
                        color: rgba(156, 156, 156, 1);
                    }

                    .indianFlag {
                        width: 5%;
                    }
                }

                .jobType {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 5%;

                    .jobTypeInfo {
                        color: rgba(237, 83, 83, 1);
                        font-family: Roboto;
                        font-size: 0.8rem;
                        font-weight: 500;
                    }
                }
            }

            .skillsAndButtons {
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                // background-color: rgb(57, 133, 133);

                .skillsContainer {
                    display: flex;
                    justify-content: flex-end;
                    padding: 5px;
                    gap: 2%;

                    .skills {
                        font-size: 0.8rem;
                        padding: 5px;
                        width: 20%;
                        background-color: rgba(255, 238, 238, 1);
                        border-radius: 5px;
                        text-align: center;
                    }
                }

                .buttonsContainer {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    padding: 5px;
                    gap: 2%;


                    .buttons {
                        color: rgba(237, 83, 83, 1);
                        border: 1.5px solid rgba(237, 83, 83, 1);
                        width: 30%;
                        padding: 5px;
                        border-radius: 5px;
                        margin-right: 2%;
                        font-weight: 500;
                        background-color: white;
                    }

                    .buttons:hover {
                        color: white;
                        background-color: rgba(237, 83, 83, 1);
                    }
                }

            }

        }
    }


}