
.main {
    width: 100%;
    height: 100%;
    display: flex;

    .leftSection {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .formContainer {
            width: 70%;
            height: 75%;
            margin-left: 20%;

            .headingsContainer {
                width: 100%;
                height: 15%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .mainHeading {
                    font-family: DM Sans;
                }

                .subHeading {
                    font-family: DM Sans;
                    font-size: 0.8rem;
                    font-weight: 500;
                    color: rgba(82, 82, 82, 1);
                }
            }

            .registrationForm {
                width: 100%;
                height: 80%;
                // background-color: beige;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .formFeilds {
                    width: 60%;
                    height: 8%;
                    border: 2px solid rgba(194, 194, 194, 1);
                    border-radius: 5px;
                    color: rgba(82, 82, 82, 1);
                    padding: 5px;
                }

                .checkBoxContainer {
                    width: 100%;
                    height: 8%;
                    // background-color: antiquewhite;
                    display: flex;
                    align-items: center;


                    .checkBox {
                        width: 3%;
                        height: 60%;
                    }

                    .checkBoxText {
                        font-family: DM Sans;
                        font-size: 0.8rem;
                        font-weight: 400;
                        color: rgba(82, 82, 82, 1);

                    }
                }

                .createButton {
                    width: 25%;
                    height: 10%;
                    background-color: rgba(237, 83, 83, 1);
                    color: rgba(255, 255, 255, 1);
                    font-family: DM Sans;
                    font-size: 1rem;
                    font-weight: 700;
                    border-radius: 5px;
                    margin-top: 2%;
                }

            }

            .verificationText {
                width: 100%;
                height: 5%;
                // background-color: azure;
                font-family: DM Sans;
                font-size: 0.9rem;
                font-weight: 500;
                color: rgba(82, 82, 82, 1);

                u {
                    color: rgba(0, 0, 0, 1);
                }

                u:hover {
                    cursor: pointer;
                }
            }
        }


    }

    .rightSection {
        width: 40%;
        height: 100%;

        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .jobFinderHeading {
            color: rgba(255, 255, 255, 1);
            font-size: 1.8rem;
            font-family: DM Sans;
            font-weight: 500;
            position: absolute;
            top: 3%;
            padding-left: 9%;
        }
    }
}