.main {
  width: 100vw;
  max-height: 100vh;
  background-color: rgb(239, 224, 224);
  font-family: DM Sans;
  overflow: auto;
}

.header {
  width: 100%;
  height: 15vh;
  background-color: rgba(237, 83, 83, 1);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 50px;
}

.title {
  color: rgba(255, 255, 255, 1);
  font-size: 2rem;
  font-weight: 700;
  margin-left: 3%;
  margin-top: 1%;
}


.companyName {
  width: 80%;
  height: 10vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  font-weight: 700;
  font-size: 2rem;
  margin-top: -1%;
  border-radius: 10px;

}

.jobInfoContainer {
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.jobInfo {
  width: 95%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.logoAndJobType {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 2%;
  color: rgba(153, 153, 153, 1);
  font-weight: 500;
  font-size: 1rem;
  padding-top: 10px;

}

.companyLogo {
  width: 30px;

}


.jobRole {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.editJobBtn {
  width: 5.5rem;
  height: 2rem;
  background-color: rgba(237, 83, 83, 1);
  color: white;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 6px;
}

.location {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(237, 83, 83, 1);
}


.salaryAndDurationLogos {
  width: 90%;
  display: flex;
  gap: 3%;
  color: rgba(153, 153, 153, 1);
  font-size: 1rem;
  font-weight: 500;

}

.logo {
  width: 15%;
  display: flex;
  align-items: center;
  gap: 5px;
}


.salaryAndDuation {
  width: 90%;
  display: flex;
  gap: 3%;

}

.info {
  width: 15%;
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgba(89, 89, 89, 1);
  font-size: 1rem;
  font-weight: 600;
}



.heading {
  font-size: 1.2rem;
  font-weight: 700;

}

.description {
  margin-top: 5px;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(89, 89, 89, 1);


}

.skills{
  display: flex;
  gap: 2%;
}

.skillsContainer {
  width: 100px;
  height: 40px;
  background-color: rgba(255, 238, 238, 1);
  font-size: 1rem;
  font-weight: 400;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(89, 89, 89, 1);
  
}